@font-face {
  font-family: 'plex';
  src: url('/fonts/IBMPlexMono-Regular.woff2') format('woff2'), url('/fonts/IBMPlexMono-Regular.woff') format('woff');
  font-style: 'normal';
  font-weight: 400;
}
@font-face {
  font-family: 'plex';
  src: url('/fonts/IBMPlexMono-Bold.woff2') format('woff2'), url('/fonts/IBMPlexMono-Bold.woff') format('woff');
  font-style: 'normal';
  font-weight: 700;
}
@font-face {
  font-family: 'ouroboros';
  src: url('/fonts/Ouroboros-Regular.woff2') format('woff2'), url('/fonts/Ouroboros-Regular.woff') format('woff');
  font-style: 'normal';
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paragraph-desc p {
  margin-bottom: 12px;
}